@model FDSY_Distribution.Models.Beer

<div class="jumbotron">
    <h1>Welcome to Sheridian FDSY Breweries and Sons</h1>
    <p class="lead">The only good beer company by the people, for the people. Good beer, good people, good prices.</p>
    <p><a href="http://www.lcbo.com/content/lcbo/en.html" class="btn btn-primary btn-lg">Drink more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Here's a random beer. Try it!</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Brewery.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brewery.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ABV)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ABV)
            </dd>



        </dl>
        @Html.ActionLink("Check 'er out eh bud? »", "Details", "Beers", new { id = Model.BeerId }, new { @class= "btn btn-primary pull-right" })
    </div>
    <div class="col-md-4">
        <img class="img-responsive" src="~/Images/theboys.jpg" />
    </div>
    <div class="col-md-4">
        <h2>The Ancient Ritual of the Kegger</h2>
        <p>Keggers are a tradition dating back to 1200 BC. This was a time when cavemen, upon completing a successful hunt, would gather at the local pub and enjoy some cold brews.</p>
        <p>Now in 2016, we can help you continue the tradition.</p>
    </div>
</div>
